:root {
  --vp-c-brand: #2d8fd5;
  --vp-c-brand-light: #2d8fd5;
  --vp-c-brand-dark: #2d8fd5;
  --vp-button-brand-active-border: #45ABFF;
  --vp-button-brand-hover-bg: #45ABFF;
  --vp-button-brand-hover-border: #45ABFF;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #2d8fd5, #41d1ff);
}
